body {
  margin: 0;
  background: #0f172a;
  font-family: "Segoe UI", sans-serif;
  color: white;
}

.todo-container {
  max-width: 500px;
  margin: 60px auto;
  padding: 25px;
  background: #020617;
  border-radius: 14px;
  box-shadow: 0 0 30px rgba(99, 102, 241, 0.35);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.input-box {
  display: flex;
  gap: 10px;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
}

button {
  background: #6366f1;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #4f46e5;
}

.todo-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #020617;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 10px;
  box-shadow: inset 0 0 0 1px #1e293b;
}

.todo-item span {
  font-size: 16px;
}

.todo-item span.done {
  text-decoration: line-through;
  color: #94a3b8;
}

.actions {
  display: flex;
  gap: 10px;
  align-items: center;
}

.actions button {
  background: transparent;
  font-size: 16px;
}

.upper-btn {
  width: 100%;
  margin-top: 15px;
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
